{% extends "CDCCoreBundle:Core:layout.html.twig" %}

{% block body %}
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3 form-loggin">
            <h2 class="loggin-top">
                Félicitation ! Votre compte a bien été créé
                <span id="loggin-key" class="pull-right"><i class="fa fa-thumbs-up"></i></span>
            </h2>
        </div>
    </div>
{% endblock %}
