{% extends "CDCCoreBundle:Core:layout.html.twig" %}

{% block body %}
    <div class="row">
        <div class="col-md-12">
            <h1 data-id="0" class="page-header">
                <i class="fa fa-tachometer-alt" id="sidenav-span"></i>Tableau de bord
                <small>Une vue globale sur vos comptes</small>
            </h1>
            <hr class="page-header-half-rule" />
        </div>
    </div>
{% endblock %}